.Logo-total-area {
  flex: 1 0 140px;
  z-index: 1;
}
.Logo-boundary-area {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 80px;
  width: 102px;
  position: relative;
}
.Logo-boundary-area::before {
  position: absolute;
  top: 8px;
  left: -8px;
  right: -8px;
  bottom: 8px;
  display: inline-block;
  box-sizing: border-box;
}
.Logo-outter-wrapper {
  display: block;
  color: #ffffff;
}
.Logo-word-wrapper {
  display: block;
  width: 102px;
  height: 32px;
  fill: rgb(255, 255, 255);
}
