.wisdom-total-wrapper {
  padding: 0 80px;
  margin: 0 auto;
  position: relative;
}
.wisdom-title-total-wrapper {
  margin: 32px 0;
  display: block;
  padding-bottom: 24px;
}
.wisdom-image-outter-wrapper {
  height: 460px;
  width: 100%;
  display: block;
  position: relative;
}
.wisdom-image-attr {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wisdom-word-total-attr {
  padding: 0 80px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.wisdom-word-attr-A {
  display: block;
  font-size: 48px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 15px 0;
}
.wisdom-word-attr-B {
  display: block;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}
.wisdom-word-attr-C {
  display: flex;
  width: 170px;
  height: 50px;
  border-radius: 8px;
  background: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin: 15px 0;
  color: rgb(255, 255, 255);
}
.wisdom-word-attr-D {
  display: block;
  font-weight: 600;
}
