.Logo-total-area {
    flex: 1 0 140px !important;
}
.Logo-boundary-area {
    display: inline-flex !important;
    align-items: center !important;
    vertical-align: middle !important;
    height: 80px !important;
    width: 102px !important;
    position: relative !important;

}
.Logo-boundary-area::before {
    position: absolute !important;
    top: 8px !important;
    left: -8px !important;
    right: -8px !important;
    bottom: 8px !important;
    display: inline-block !important;
    box-sizing: border-box !important;
}
.Logo-outter-wrapper {
    display: block !important;
}
.Logo-word-wrapper {
    display: block !important;
    width: 102px !important;
    height: 32px !important;
}