.Total-outter-wrapper {
    border: 1px solid #DDDDDD !important;
    border-radius: 32px !important;
    color: #222222 !important;
    display: flex !important;
    height: 66px !important;
    position: relative !important;
    width: 100% !important;
}
.Total-inner-wrapper {
    display: flex !important;
    height: 100% !important;
    min-width: 0 !important;
}
.Location-total-wrapper {
    min-width: 0 !important;
}
.Inner-contents-wrapper {
    cursor: pointer !important;
    display: block !important;
    border: 1px solid transparent !important;
    min-width: 0 !important;
    padding: 14px 32px !important;
}
.Inner-contents-attr{
    position: relative !important;
}
.Inner-word-attr {
    font-weight: 800 !important;
    font-size: 12px !important;
    line-height: 16px !important;
}
.search-input-area-attr {
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    background: none !important;
    font-size: 14px !important;
    color: #222222 !important;
    line-height: 18px !important;
}
.Partition-attr {
    align-self: center !important;
    border-right: 1px solid #DDDDDD !important;
    height: 32px !important;
}