.Close-area-total-wrapper {
  padding: 0 80px;
  margin: 0 auto;
  position: relative;
}
.Close-inner-contents-outter-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
  padding: 20px 0;
}
.Close-title-total-wrapper {
  margin: 32px 0;
  display: block;
}
.Close-title-word-attr {
  font-size: 34px;
  font-weight: 600;
  display: block;
}
.Image-N-word-total-attr {
  position: relative;
  display: block;
}
.Close-common-image-attr {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
}
.Close-address-common-wrapper {
  display: flex;
  width: fit-content;
  height: 100%;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}
.Close-image-Common-attr {
  display: block;
  margin-right: 15px;
}
.Close-explain-common-area-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Close-explain-common-outter-wrapper {
  display: block;
  position: relative;
  align-items: flex-end;
}
.Location-word-total-attr {
  display: block;
  width: 100%;
  font-weight: 600;
}
.Location-word-content-attr {
  display: block;
  width: 100%;
}
