.languagecompo-total-outter-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 21%;
  width: 100%;
  z-index: 5;
}
.languagecompo-total-inner-wrapper {
  padding: 20px;
  height: 85%;
  width: 70%;
  background: #ffffff;
  border-radius: 12px;
  overflow-y: scroll;
}
