.Middle-menu-outter-wrapper {
    text-align: center !important;
    padding: 0 24px !important;
    min-width: 348px !important;

}
.Middle-inner-contents-wrapper {
    padding: 0 80px !important;
}
.Middle-inner-contents-area {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}
.Middle-menu-list {
    display: flex !important;
    height: 80px !important;
    align-items: center !important;
    justify-content: center !important;
    border: 0px !important;
}
.Name-wrapper {
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 10px 16px !important;
    text-align: center !important;
}
.Menu-btn-atr {
    border: 0 !important;
    margin: 0 !important;
    height: 1px !important;
    width: 1px !important;
    border: 0px !important;
    cursor: pointer !important;
    appearance: none !important;
}
